---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">
  <meta property="og:image" content="{{ site.data.settings.url }}{{ site.data.settings.baseurl }}{{ site.data.settings.seo.image }}">
  <meta property="og:title" content="{{ site.data.settings.title }}">
  <meta property="og:site_name" content="{ site.data.settings.title }}">
  <meta property="og:type" content="website">
  <meta property="fb:admins" content="{{ site.data.settings.seo.fb_admins }}">
  <meta property="fb:app_id" content="{{ site.data.settings.seo.fb_appid }}">  


  <title>{{ site.data.settings.title }}</title>


<!-- CSS -->
  <link rel="stylesheet" href="assets/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}assets/img/icons/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/img/icons//favicon.ico">

  
  {% include analytics.html %}
</head>
<body>

{% include header.html %}

{% include about.html %}

{% include manifesto.html %}

{% include contact.html %}

{% include form.html %}

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>
