<section class="section-contact">
  
  <h1 id="contact"><a href=""><i class="fa fa-angle-up fa-lg"></i></a>contact<a href="#footer"><i class="fa fa-angle-down fa-lg"></i></a></h1>
  
  
  <div class="social-links">
    {% for link in site.data.settings.social %}
    <a href="{{ link.link }}">{{ link.icon }}</a>
    {% endfor %}
  </div>
  
  <hr class="bar">
  
  <div class="crew-unit">
    {% for crew in site.data.settings.crew %}
    <figure class="crew-face">
      <img src="assets/img/crew/{{ crew.face }}" alt="crew face">
        <figcaption>
          <strong class="crew-name">{{ crew.name }}</strong>
          <em class="crew-rule">{{ crew.rule }}</em>
          <strong class="crew-social"><a href="https://twitter.com/{{ crew.twitter }}"><i class="fa fa-twitter"></i></a> • <a href="{{ crew.linkedin }}"><i class="fa fa-linkedin"></i></a> • <a href="https://github.com/{{ crew.github }}"><i class="fa fa-github"></i></a> • <a href="mailto:{{ crew.mail }}"><i class="fa fa-envelope"></i></a></strong>
        </figcaption>
    </figure>
    {% endfor %}
  </div>

  <a class="biglink" href="mailto:{{ site.data.settings.email }}">{{ site.data.settings.email }}</a>
  
</section>