<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">



  <nav class="sidebar-nav">
    {% for menu in site.data.settings.t[page.lang] %}
      <a class="sidebar-nav-item{% if page.url == menu[1].url %} active{% endif %}" href="{{ menu[1].url }}">{{ menu[1].name }}</a>
    {% endfor %}
  </nav>


  <div class="sidebar-item">
      <p>{{ site.footer[page.lang] }}</p>
      <p>{{ site.policies[page.lang] }}<p>
  </div>

  <div class="sidebar-item">
    <a href="//www.iubenda.com/privacy-policy/7853379" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  </div>

  <img src="{{ site.baseurl }}assets/img/logos/osd_black_20.svg">
</div>
