---
layout: default
---
<article class="post">

  <div class="osd">
    <a href="{{ site.baseurl }}"><img src="/assets/img/logos/osd_logo_50.svg"></a>
  </div>

  <header class="post-header">
    <h1 class="text-home">{{ page.title }}</h1>
    <p class="post-meta">
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{ page.date | date: "%Y %b %-d" }}
      {% if page.update %}
      • <i class="fa fa-refresh" aria-hidden="true"></i> {{ page.update | date: "%Y %b %-d" }}
      {% endif %}
       • {% include read-time.html %}
     </p>
     <p class="post-meta">
       {% if page.tags != empty %}<br />
         {% for tag in page.tags %}
           <i class="fa fa-tags"></i><a href="{{ '-ref' | prepend: tag | replace: ' ','-' | prepend: 'search/#' | prepend: site.baseurl }}"> {{ tag }}</a>{% unless forloop.last %}, {% endunless %}
         {% endfor %}
       {% endif %}
     </p>


  </header>

  <div class="post-content">
    {{ content }}
  </div>



  <div class="share-page">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}"><i class="fa fa-lg fa-chevron-circle-left" aria-hidden="true"></i> </a>
      {% endif %}
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter-square"></i> Twitter</a>
    <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&p[title]={{ page.title }}"rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official"></i> Facebook</a>
      {% if page.next.url %}
        <a href="{{page.next.url}}"><i class="fa fa-lg fa-chevron-circle-right" aria-hidden="true"></i></a>
      {% endif %}
  </div>

</article>
